body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 8rem;
  color: #000000;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 3px 0 #334756;
  margin-top: 2%;
}

footer {
  background-color: #5bccf6;
  margin-top: 30px;
  color: #000000;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  margin-top: 98px;
}

.btn-back {margin-top: 50px;
margin-right: 20px;
width: 200px;
font-size: 1.5rem; }
.btn-front {margin-top: 50px;
margin-left: 20px;
width: 200px;
font-size: 1.5rem;}
.container {border: 4mm ridge #5bccf6;
margin-top: 19px;
text-align: center;}

.navbar { background-color: #5bccf6;}

.js {font-style: italic;
font-weight: 800;}
.top_heading1 {font-size: 3rem;
font-weight: 900;
margin: auto;}
.top_heading2 {
margin: auto;}
.top_header {padding-top: 1%;
text-align: center;}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}


.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #000000;
  text-shadow: 3px 0 #334756;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.footer_id { color: #000000;}
.footer_id:hover { color: #334756;}

@media (max-width: 800px) {



  .btn-back {margin: auto;
             }

            .btn-front {margin: auto;
            }
}
@media (max-width: 992px) {
  h1 {font-size: 4rem;}
  .btn-back {margin: auto;
             }
  .btn-front {margin: auto;
            }
}
